* {
    margin: 0;
    padding: 0;
    outline: none;
}

a{
	cursor:hand;
}

body{
	background-color:#f1f1f1;
	font-family: 'Roboto', sans-serif;
}

footer{
	color:#000000 !important;
	position: fixed;
	right: 0;
	bottom: 0;
	left: 0;
	width:100%;
	padding-top:5px;
	padding-bottom:6px;
	background-color: #efefef;
	text-align: center;
	background-color:#ffffff;
	border-top: 1px solid #e8e8e8 !important;
}

label{
	margin-bottom: 0px !important;
    font-weight: normal !important;
	margin-left:5px;
}

header{
	position:fixed !important;
	top:0;
	left:0;
	right:0;
	width:100%;
	height:45px;
	background-color:#ffffff;
	border-bottom: 1px solid #e8e8e8 !important;
	margin-bottom:50px;
	z-index:200;
}

input[type=text] {
	height:36px;
}

.error {
	color:#FF0000;
}

.player_info {
	background-color:#337ab7;
	padding-top:12px;
	padding-bottom:12px;
	width:220px; 
	text-align:center;
	font-weight:bold;
	font-size:16px;
	color:#ffffff;
	display:inline-block;
}

.standard2 {
	background-color:#ffffff;
	padding:10px;
	height:63px;
	box-shadow: 0 1px 2px rgba(0,0,0,.1);
}

.standard {
	background-color:#ffffff;
	padding-top:20px;
	padding-left:40px;
	padding-right:40px;
	padding-bottom:20px;
	box-shadow: 0 1px 2px rgba(0,0,0,.1);
}

.box_prehravaca {
	background-color:#ffffff;
	padding:10px;
	box-shadow: 0 1px 2px rgba(0,0,0,.1);
	height:64px;
	transition: all 0.3s ease;
}

.box_analyzera{
	margin-bottom:1px;
	background-color:#ffffff;
	padding:8px;
	box-shadow: 0 1px 2px rgba(0,0,0,.1);
	height:36px;
	transition: all 0.3s ease;
}

.box_analyzera:hover {
	-webkit-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.2);
	box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.2);
}

.wrrr:hover {
	text-decoration:none !important;
}

.box_prehravaca:hover {
	-webkit-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.2);
	box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.2);
}

.sortable tr th{
	cursor:hand;
}

.header_visited{
	border-bottom: 2px solid #337ab7;
}

.table-xtra-condensed > tbody > tr > th,
.table-xtra-condensed > tfoot > tr > th,
.table-xtra-condensed > tbody > tr > td,
.table-xtra-condensed > tfoot > tr > td {
	padding-top: 1px ;
	padding-bottom: 1px;
	padding-left: 5px !important;
	padding-right: 5px !important;
}

.table-xtra-condensed > thead > tr > th {
  padding-top: 3px !important;
  padding-bottom: 3px !important;
  padding-left: 5px !important;
  padding-right: 5px !important;
}

.font-size-12 {
	font-size:13px;
	font-weight:bold;
}

.width-9-percent{
	width:9.09%;
}

.glyphicon {
	padding-top:3px;
}

.hand {
	cursor:pointer;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

.main{
	margin-top:10px;
	margin-bottom:50px;
}

.nopadding {
   padding: 0 !important;
}

.nopadding-left {
   padding-left: 0 !important;
}

.nopadding-right {
   padding-right: 0 !important;
}

.nomargin {
   margin: 0 !important;
}

.inner_border  {
  border: 0px !important;
}

.inner_border tr:first-child td {
  border-top: 0;
}
.inner_border tr:last-child td {
  border-bottom: 0;
}
.inner_border tr td:first-child,
.inner_border tr th:first-child {
  border-left: 0;
}
.inner_border tr td:last-child,
.inner_border tr th:last-child {
  border-right: 0;
}

.border-radius-5{
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.pull-bottom {
    display: inline-block;
    vertical-align: bottom;
    float: none;
}

.ikona {
	width:20px;
}

.cislo {
	width:70px;
	color:#337ab7; 
	font-weight:bold;
	text-align:center;
}

.cislo2 {
	width:55px;
}

.nadpis_tabulky {
	padding-top:7px !important;
	padding-bottom:7px !important;
	text-align:center;
	font-weight:bold;
	background-color:#337ab7;
	color:#ffffff;
}

.padding-bottom-10{
	padding-bottom:10px;
}

.margin-side-10{
	margin-left:10px;
	margin-right:10px;
}

.no-padding-left{
	padding-left:0px !important;
}

.padding_right_10{
	padding-right:10px;
}

.padding-side-15{
	padding-left:15px;
	padding-right:15px;
}

.valign_top{
	vertical-align:top;
}	

.padding_15{
	padding-top:15px;
	padding-bottom:15px;
}

.padding_5{
	padding-top:5px;
	padding-bottom:5px;
}

.margin_left_10{
	margin-left:10px;
}

.margin-top-10{
	margin-top:10px;
}

.margin-top-15{
	margin-top:15px;
}

.margin-top-30{
	margin-top:30px;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>thead>tr>th {    
	border: 1px solid #e8e8e8;
}

.table-style-1{
	margin-top:10px;
}

.table-style-2 > tbody > tr > td{
	border-top:0px !important;
}

.table-style-2 {
	border-bottom: 1px solid #e8e8e8 !important;
	border-left: 1px solid #e8e8e8 !important;
	border-right: 1px solid #e8e8e8 !important;
}

.table-style-3 > thead > tr > th{
	border-bottom:0px !important;
}

.myButton{
	padding: 10px 20px 15px 21px !important;
}

.borderRadius-top-left-none{
	border-top-left-radius: 0 !important;
}

.borderRadius-top-right-none{
	border-top-right-radius: 0 !important;
}

.table-100 {
	width: 100%;
	border: 1px solid #e8e8e8 !important;
}

.textarea-no-resize{
	resize:none;
	height:36px !important;
}

table {
	line-height: 1.42857143;
	background-color:#ffffff;	
	box-shadow: 0 1px 2px rgba(0,0,0,.1);
}

.borderless td, .borderless th {
    border: none;
}

canvas {
  width: 100%;
  height: auto;
  box-shadow: 0 1px 2px rgba(0,0,0,.1);
  background-color:#ffffff;
}

nav,
nav ul,
nav li, nav a {
	list-style: none;
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 18px;
	font-family: 'Roboto';
}
nav {
    width:800px;
    margin-left:0px;
    height:60px;
}
nav ul {
    zoom: 1;
    text-align:center;
    list-style: none;
    position: relative;
    display: block;
}
nav ul:before {
    content: '';
    display: block;
}
nav ul:after {
    content: '';
    display: block;
    clear: both;
}
nav a,
nav a:link,
nav a:visited {
    padding-bottom: 7px;
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
    display: block;
    text-decoration: none;
    color:#000000;
}
nav a:hover {
    color: #dddddd;
}

nav li {
    float: left;
}

.modal_win {
    display: block; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 100; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 10% auto; /* 15% from the top and centered */
    padding-top: 21px !important;
    padding-bottom: 14px !important;
	padding-left: 20px;
	padding-right: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


